*{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
    margin: 0;
}
header {
    background-color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}
.logo img{
    padding-top: 2px;
    padding-left: 3px;
    height: 50px;
    width: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}
nav ul li a.active {
    text-decoration: underline;
}
.about-section {
    max-width: 800px;
    margin: 90px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    
}
.about-section h1, .about-section h2 {
    color: red;
}
.about-section ul {
    list-style-type: disc;
    padding-left: 20px;
}
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}